a {
    color: #b0daa8;
    text-decoration: none;
}
body {
    background-color: #100b0d;
}
h1 {
    color: white;
    font-family: Helvetica;
    text-align: center;
}
p {
    color: white;
    font-family: Helvetica;
    max-width: 10%;
    left: 45%;
    text-align: right;
}
.headerBar {
    font-family: "BM Dohyeon";
    word-spacing: 2em;
    text-align: right;
    position: relative;
    top: 5%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: #b0daa8;
}
.icon {
    height: 50px;
    top: 2%;
    left: 2%;
    position: absolute;
    display: flex;
    justify-content: left;
}
.bg-image {
    background-image: url("HeadingBG.JPG");
    background-color: #100b0d;
    height: 650px;
    margin: -8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    alignment: center;
}
.bg-name {
    height: 250px;
    top: 35%;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: cover;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label{
  color: white
}

.container {
  border-radius: 5px;
  background-color: #100c0d;
  padding: 20px;
}
